.main {
    display: flex;
    align-items: center;
    height: 100vh;
    &::before {
        top: 0;
        right: 70%;
        height: 780px;
    }
    &::after {
        bottom: 0;
        left: 70%;
        height: 780px;
    }
}
.phone-container {
    margin: 0 100px 0 auto;
}
.text-container {
    text-align: left;
    margin: 0 auto 0 0;
    width: 45ch;
}
