.main {
    color: $bodyTextColor;
    background: $white;
    font-family: $fontFamily;
    font-weight: $fontRegular;
}
.main::before,
.main::after {
    content: "";
    position: absolute;
    z-index: -1;
}
.main::before {
    top: -20%;
    right: 50%;
    width: 530px;
    height: 750px;
    background: linear-gradient(
        45deg,
        hsl(264, 100%, 61%) 20%,
        hsl(293, 100%, 63%) 100%
    );
    border-radius: 0px 0px 254px 254px;
}
.main::after {
    bottom: -20%;
    left: 50%;
    width: 530px;
    height: 750px;
    background: $lightPurpleBackground;
    border-radius: 254px 254px 0px 0px;
}
.phone-container {
    margin: 48px auto 64px;
    width: 75%;
    max-width: 250px;
    height: 483px;
    background: $appBackgroundColor;
    border: 10px solid $white;
    border-radius: 30px;
    box-shadow: 0px 20px 30px 25px rgba($rightChatColor, 0.2);
    position: relative;
    overflow: hidden;
    .phone-speaker {
        position: absolute;
        background: $white;
        margin: 0 auto;
        height: 25px;
        width: 130px;
        top: -4px;
        left: calc(50% - 65px);
        border-radius: 0px 0px 15px 15px;
        z-index: 1;
    }
    .app-header {
        display: flex;
        align-items: center;
        position: relative;
        background-image: linear-gradient(
            to left,
            $pinkGradient,
            $purpleGradient
        );
        border-radius: 22px 22px 8px 8px;
        padding: 28px 0 12px 26px;
        box-shadow: $shadow;
        .arrow {
            position: absolute;
            background-image: url(../images/arrow.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 12px;
            width: 12px;
            top: 34px;
            left: 13px;
            display: inline-block;
        }
        .header-image {
            background-image: url(../images/avatar.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 1px solid $white;
            display: inline-block;
        }
        .header-text-block {
            display: inline-block;
            margin-left: 8px;
        }
        .header-name {
            color: $white;
            font-size: 11px;
        }
        .header-status {
            color: $subheadingColor;
            font-size: 8.5px;
            font-weight: $fontLight;
        }
    }
    .text-bubble-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 2%;
    }
    .bubble {
        margin: 5px 5px 3px;
        font-size: 7.5px;
        line-height: 1.4;
        box-shadow: $shadow;
    }
    .bubble.hide {
        display: none;
    }
    .bubble.slide-up {
        animation: slideUp ease-out 1s;
    }
    @keyframes slideUp {
        0% {
            transform: translateY(50px);
        }
        100% {
            transform: translateY(0);
        }
    }
    .bubble--purple {
        color: $leftChatColor;
        background: $leftChatBgColor;
        align-self: flex-start;
        width: 134px;
        border-radius: 12px 12px 12px 5px;
        padding: 6px 0px 6px 7px;
    }
    .bubble--white {
        color: $rightChatColor;
        background: $white;
        align-self: flex-end;
        border-radius: 12px 12px 5px 12px;
        padding: 6px 7px 6px 7px;
    }
    .bubble-pic-container {
        align-self: flex-end;
        margin-bottom: -8px;
        box-shadow: none;
        border: none;
    }
    .bubble-pic {
        background-repeat: no-repeat;
        background-size: contain;
        height: 39px;
        width: 39px;
        border-radius: 8px;
        margin: 10px 4px 5px 0px;
        display: inline-block;
        box-shadow: $shadow;
    }
    .bubble-pic-1 {
        background-image: url(../images/dog-image-1.jpg);
    }
    .bubble-pic-2 {
        background-image: url(../images/dog-image-2.jpg);
    }
    .bubble-pic-3 {
        background-image: url(../images/dog-image-3.jpg);
    }
    .bubble--white:first-of-type {
        width: 200px;
    }
    .bubble--white:last-of-type {
        width: 125px;
    }
    .rates-container {
        margin-bottom: 4px;
    }
    .bubble--rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        font-weight: $fontLight;
        background-image: linear-gradient(
            to right,
            $pinkGradient,
            $purpleGradient
        );
        padding: 8px 20px 8px 12px;
        margin-bottom: 3px;
        width: 70%;
        border-radius: 12px 12px 12px 5px;
        .task-description-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .radio {
            border: 1px solid $radioButtonOutlineColor;
            height: 18px;
            width: 18px;
            border-radius: 50%;
        }
        .task {
            margin-left: 10px;
        }
        .rate {
            font-weight: $fontBold;
            font-size: 1rem;
        }
        position: relative;
    }
    .sms-container {
        position: absolute;
        bottom: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        padding: 5px 7px 5px 25px;
        margin: 0 auto;
        border-radius: 25px;
        background: $white;
        font-size: 0.75rem;
        font-weight: $fontLight;
        p {
            display: inline-block;
        }
        .send-button {
            display: inline-block;
            background-image: url(../images/right-arrow.png);
            background-repeat: no-repeat;
            background-size: 8px;
            background-position: center;
            background-color: $submitButtonColor;
            border-radius: 50%;
            height: 32px;
            width: 32px;
        }
    }
}
.text-container {
    width: 85%;
    max-width: 60ch;
    margin: 0 auto 5em;
    text-align: center;
    .info-heading {
        color: $mainHeadingColor;
        font-size: 3rem;
        font-weight: $fontRegular;
        margin-bottom: 25px;
    }
    .info-paragraph {
        font-weight: $fontLight;
        line-height: 1.7;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 1em auto;
    width: 100%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
