$subheadingColor: hsl(276, 100%, 81%);
$leftChatBgColor: #e7dbf3;
$leftChatColor: hsl(276, 55%, 52%);
$rightChatColor: hsl(271, 15%, 43%);
$placeholderTextColor: hsl(206, 6%, 79%);
$mainHeadingColor: hsl(271, 36%, 24%);
$bodyTextColor: hsl(270, 7%, 64%);

$pinkGradient: hsl(293, 100%, 63%);
$purpleGradient: hsl(264, 100%, 61%);
$lightPurpleBackground: rgba(212, 187, 234, 0.2);

$white: hsl(0, 0%, 100%);
$appBackgroundColor: hsl(270, 20%, 96%);
$submitButtonColor: hsl(271, 36%, 24%);
$radioButtonOutlineColor: hsl(289, 100%, 72%);

$fontFamily: "Rubik", sans-serif;
$fontLight: 400;
$fontRegular: 500;
$fontBold: 700;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
